<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Appointments</h3>
    <button class="btn btn-primary" (click)="openModal()">
      <i class="bi bi-calendar-plus"></i> New Appointment
    </button>
  </div>

  <ag-grid-angular
    [getRowId]="getRowId"
    style="width: 100%; height: 500px;"
    class="ag-theme-quartz"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [pagination]="true">
  </ag-grid-angular>
</div>

<div class="modal fade" id="appointmentModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book Appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

<div class="modal-body">
<form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
    
    <div class="row g-3 mb-3">
      <div class="col-md-4">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="FirstName">
      </div>
      <div class="col-md-4">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="LastName">
      </div>
      <div class="col-md-4">
        <label class="form-label">Contact Number</label>
        <input type="text" class="form-control" formControlName="ContactNumber">
      </div>
    </div>

    <div *ngIf="isNewPatient" class="card bg-light mb-3 animate__animated animate__fadeIn">
      <div class="card-body">
        <h6 class="text-primary mb-3"><i class="bi bi-person-plus"></i> New Patient Registration</h6>
        <div class="row g-3">
          <div class="col-md-4">
            <label class="form-label">Middle Name</label>
            <input type="text" class="form-control" formControlName="MiddleName">
          </div>
          <div class="col-md-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="Email">
          </div>
          <div class="col-md-4">
            <label class="form-label">DOB</label>
            <input type="date" class="form-control" formControlName="DateOfBirth">
          </div>
          <div class="col-md-6">
            <label class="form-label">Gender</label>
            <select class="form-select" formControlName="Gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="col-md-4">
              <label class="form-label">Blood Group</label>
              <select class="form-select" formControlName="BloodGroup">
                <option value="" selected disabled>Select</option>
                <option>A+</option><option>A-</option>
                <option>B+</option><option>B-</option>
                <option>O+</option><option>O-</option>
                <option>AB+</option><option>AB-</option>
              </select>
            </div>
          <div class="col-md-6">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" formControlName="Address">
          </div>
        </div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Doctor</label>
        <select class="form-select" formControlName="DoctorId">
          <option *ngFor="let doc of doctors" [value]="doc.id">Dr. {{doc.firstName}} {{doc.lastName}} - {{doc.specialization}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="form-label">Reason For Visit</label>
        <input type="textbox" formControlName="ReasonForVisit">
      </div>
      <div class="col-md-6">
        <label class="form-label">Appointment Time</label>
        <input type="datetime-local" class="form-control" formControlName="AppointmentDate">
      </div>
    </div>
    <div *ngIf="isDoctorBusy(appointmentForm.get('DoctorId')?.value, appointmentForm.get('AppointmentDate')?.value)" 
       class="text-danger mt-1">
    <small><i class="bi bi-exclamation-triangle"></i> Doctor is already booked for this time!</small>
  </div>

    <div class="modal-footer mt-3">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" 
              [disabled]="appointmentForm.invalid || isDoctorBusy(appointmentForm.get('DoctorId')?.value, appointmentForm.get('AppointmentDate')?.value)">
              {{ isEditMode ? 'Save Changes' : 'Book Appointment' }}
            </button>
    </div>
</form>
  </div>
  </div>