<button type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#AddemployeeModal">
  Add Employee
</button>

<div class="modal fade"  id="AddemployeeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" >
         <form [formGroup]="addStaffForm" (ngSubmit)="submitStaff()">
          <div class="row g-3">
            <div class="col-md-2">
              <label class="form-label">Salutation</label>
              <select class="form-select" formControlName="Salutation">
                <option selected disabled>Select</option>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Miss</option>
                <option>Dr</option>
                <option>Prof</option>
              </select>
               <div *ngIf="addStaffForm.get('Salutation')?.touched && addStaffForm.get('Salutation')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('Salutation')?.errors?.['required']">Salutation is required.</small>
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="FirstName" required>
              <div *ngIf="addStaffForm.get('FirstName')?.touched && addStaffForm.get('FirstName')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('FirstName')?.errors?.['required']">First Name is required.</small>
                <small *ngIf="addStaffForm.get('FirstName')?.errors?.['minlength']">First Name must be at least 2 characters.</small>
                <small *ngIf="addStaffForm.get('FirstName')?.errors?.['maxlength']">First Name cannot exceed 50 characters.</small>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label">Middle Name</label>
              <input type="text" class="form-control" formControlName="MiddleName">
              <div *ngIf="addStaffForm.get('MiddleName')?.touched && addStaffForm.get('MiddleName')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('MiddleName')?.errors?.['minlength']">Middle Name must be at least 2 characters.</small>
                <small *ngIf="addStaffForm.get('MiddleName')?.errors?.['maxlength']">Middle Name cannot exceed 50 characters.</small>
              </div>
            </div>

            <div class="col-md-3">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="LastName" required>
               <div *ngIf="addStaffForm.get('LastName')?.touched && addStaffForm.get('LastName')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('LastName')?.errors?.['required']">First Name is required.</small>
                <small *ngIf="addStaffForm.get('LastName')?.errors?.['minlength']">First Name must be at least 2 characters.</small>
                <small *ngIf="addStaffForm.get('LastName')?.errors?.['maxlength']">First Name cannot exceed 50 characters.</small>
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Date of Birth</label>
              <input type="date" class="form-control" formControlName="DateOfBirth">
              <div *ngIf="addStaffForm.get('DateOfBirth')?.touched && addStaffForm.get('DateOfBirth')?.invalid" class="text-danger">
              <small *ngIf="addStaffForm.get('DateOfBirth')?.errors?.['required']">Date of Birth is required.</small>
              <small *ngIf="addStaffForm.get('DateOfBirth')?.errors?.['invalidDOB']">Date of Birth cannot be in the future.</small>
            </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Gender</label>
              <select class="form-select" formControlName="Gender">
                <option selected disabled>Select</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
              <div *ngIf="addStaffForm.get('Gender')?.touched && addStaffForm.get('Gender')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('Gender')?.errors?.['required']">Salutation is required.</small>
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" formControlName="Address">
               <div *ngIf="addStaffForm.get('Address')?.touched && addStaffForm.get('Address')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('Address')?.errors?.['required']">Address is required.</small>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="Email">
              <div *ngIf="addStaffForm.get('Email')?.touched && addStaffForm.get('Email')?.invalid" class="text-danger">
              <small *ngIf="addStaffForm.get('Email')?.errors?.['required']">Email is required.</small>
              <small *ngIf="addStaffForm.get('Email')?.errors?.['email']">Enter a valid email.</small>
            </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Contact Number</label>
              <input type="tel" class="form-control" formControlName="ContactNumber">
              <div *ngIf="addStaffForm.get('ContactNumber')?.touched && addStaffForm.get('ContactNumber')?.invalid" class="text-danger">
              <small *ngIf="addStaffForm.get('ContactNumber')?.errors?.['required']">Contact Number is required.</small>
              <small *ngIf="addStaffForm.get('ContactNumber')?.errors?.['pattern']">Enter a valid 10-digit number.</small>
            </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Role</label>
              <select class="form-select" formControlName="Role">
                <option selected disabled>Select Role</option>
                <option [ngValue]="0">Receptionist</option>
                <option [ngValue]="1">Doctor</option>
                <option [ngValue]="2">Nurse</option>
                <option [ngValue]="3">Lab Technicial</option>
                <option [ngValue]="4">Pharmacist</option>
                <option [ngValue]="5">Administrator</option>
                <option [ngValue]="6">Janitorial Staff</option>
                <option [ngValue]="7">Security Personnel</option>
                <option [ngValue]="8">IT Support</option>
                <option [ngValue]="9">HR Manager</option>
              </select>
               <div *ngIf="addStaffForm.get('Role')?.touched && addStaffForm.get('Role')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('Role')?.errors?.['required']">Role is required.</small>
              </div>
            </div>

            <!-- Doctor Specific Fields -->
              <div *ngIf="isDoctor" class="row g-3 mt-2">

                <div class="col-md-6">
                  <label class="form-label">Specialization</label>
                  <input type="text" class="form-control" formControlName="Specialization">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Department</label>
                  <input type="text" class="form-control" formControlName="Department">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Qualification</label>
                  <input type="text" class="form-control" formControlName="Qualification">
                </div>

                <div class="col-md-6">
                  <label class="form-label">License Number</label>
                  <input type="text" class="form-control" formControlName="LicenseNumber">
                </div>

              </div>


            <div class="col-md-6">
              <label class="form-label">Hiring Date</label>
              <input type="date" class="form-control" formControlName="HiringDate">
               <div *ngIf="addStaffForm.get('HiringDate')?.touched && addStaffForm.get('HiringDate')?.invalid" class="text-danger">
                <small *ngIf="addStaffForm.get('HiringDate')?.errors?.['required']">Hiring Date is required.</small>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Salary</label>
              <input type="number" class="form-control" formControlName="Salary">
              <div *ngIf="addStaffForm.get('Salary')?.touched && addStaffForm.get('Salary')?.invalid" class="text-danger">
              <small *ngIf="addStaffForm.get('Salary')?.errors?.['required']">Salary is required.</small>
              <small *ngIf="addStaffForm.get('Salary')?.errors?.['min']">Salary must be positive.</small>
            </div>
            </div>
          </div>
        
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
             {{ isEditMode ? 'Update' : 'Add' }}
          </button>
        </div>
        
      </form>
      </div>
      </div>
  </div>
</div>


<div class="alert" 
     [ngClass]="['alert-' + alertType, showAlert ? 'show-alert' : '']" 
     role="alert">
  <div class="d-flex align-items-center">
    <span class="me-2">
      <i class="bi" [ngClass]="alertType === 'success' ? 'bi-check-circle' : 'bi-exclamation-triangle'"></i>
    </span>
    {{ alertMessage }}
  </div>
</div>

<!-- <nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center">

    <li class="page-item" [class.disabled]="pageNumber === 1">
      <button class="page-link"
              (click)="pageNumber > 1 && getAllStaff(pageNumber - 1)">
        Previous
      </button>
    </li>

    <li class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="pageNumber === i + 1">

      <button class="page-link"
              (click)="getAllStaff(i + 1)">
        {{ i + 1 }}
      </button>
    </li>

    <li class="page-item" [class.disabled]="pageNumber === totalPages">
      <button class="page-link"
              (click)="pageNumber < totalPages && getAllStaff(pageNumber + 1)">
        Next
      </button>
    </li>

  </ul>
</nav> -->

<div class="mt-4">
  <ag-grid-angular
    style="width: 100%; height: 500px;"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [paginationPageSize]="pageSize"
    [paginationPageSizeSelector]="[5, 7, 10, 20]"
    class="ag-theme-quartz">
  </ag-grid-angular>
</div>

<router-outlet></router-outlet>
