<button type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#employeeModal">
  Add Employee
</button>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Salutation</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Role</th>
        <th>Hiring Date</th>
        <th>Salary</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList">
        <td>{{ staff.salutation }}</td>
        <td>{{ staff.firstName }}</td>
        <td>{{ staff.middleName }}</td>
        <td>{{ staff.lastName }}</td>
        <td>{{ staff.dateOfBirth }}</td>
        <td>{{ staff.gender }}</td>
        <td>{{ staff.address }}</td>
        <td>{{ staff.contactNumber }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.role }}</td>
        <td>{{ staff.hiringDate  }}</td>
        <td>{{ staff.salary | currency:'NPR':'symbol'   }}</td>
        <td>{{ staff.createdAt | date:'yyyy-MM-dd'}}</td>
        <td>{{ staff.updatedAt | date:'yyyy-MM-dd' }}</td>
        <td>
          <button class="btn btn-sm btn-primary me-1" (click)="editStaff(staff)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteStaff(staff.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="employeeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" >
         <form [formGroup]="addStaffForm" (ngSubmit)="addStaff()">
          <div class="row g-3">
            <div class="col-md-2">
              <label class="form-label">Salutation</label>
              <select class="form-select" formControlName="Salutation">
                <option selected disabled>Select</option>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Miss</option>
                <option>Dr</option>
                <option>Prof</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="FirstName" required>
            </div>

            <div class="col-md-3">
              <label class="form-label">Middle Name</label>
              <input type="text" class="form-control" formControlName="MiddleName">
            </div>

            <div class="col-md-3">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="LastName" required>
            </div>

            <div class="col-md-4">
              <label class="form-label">Date of Birth</label>
              <input type="date" class="form-control" formControlName="DateOfBirth">
            </div>

            <div class="col-md-4">
              <label class="form-label">Gender</label>
              <select class="form-select" formControlName="Gender">
                <option selected disabled>Select</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">Blood Group</label>
              <select class="form-select" formControlName="BloodGroup">
                <option selected disabled>Select</option>
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>O+</option>
                <option>O-</option>
                <option>AB+</option>
                <option>AB-</option>
              </select>
            </div>

            <div class="col-md-4">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" formControlName="Address">
            </div>

            <div class="col-md-6">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="Email">
            </div>

            <div class="col-md-6">
              <label class="form-label">Contact Number</label>
              <input type="tel" class="form-control" formControlName="ContactNumber">
            </div>

            <div class="col-md-6">
              <label class="form-label">Role</label>
              <select class="form-select" formControlName="Role">
                <option selected disabled>Select Role</option>
                <option [ngValue]="0">Receptionist</option>
                <option [ngValue]="1">Doctor</option>
                <option [ngValue]="2">Nurse</option>
                <option [ngValue]="3">Lab Technicial</option>
                <option [ngValue]="4">Pharmacist</option>
                <option [ngValue]="5">Administrator</option>
                <option [ngValue]="6">Janitorial Staff</option>
                <option [ngValue]="7">Security Personnel</option>
                <option [ngValue]="8">IT Support</option>
                <option [ngValue]="9">HR Manager</option>
              </select>
            </div>

            <div class="col-md-6">
              <label class="form-label">Hiring Date</label>
              <input type="date" class="form-control" formControlName="HiringDate">
            </div>

            <div class="col-md-6">
              <label class="form-label">Salary</label>
              <input type="number" class="form-control" formControlName="Salary">
            </div>
          </div>
        
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
        
      </form>
      </div>
      </div>
  </div>
</div>




<router-outlet></router-outlet>
